body {
    background-color: #252422;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #466b5a #252422;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #252422;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #466b5a;
    border-radius: 10px;
  }